<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.lifeshare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registerActivity.GetEmailAcitivity" />
        <activity android:name=".registerActivity.OtpVerifyActivity" />
        <activity
            android:name=".registerActivity.TabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYFSLMHW5fBxLfuYW4YCni5xOVkZE-x1w" />

        <activity
            android:name=".registerActivity.MapsActivity"
            android:label="@string/title_activity_maps" />

        <service android:name=".MyFirebaseInstaceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".DonorDetails.GetResponse" />
        <activity
            android:name=".DonorDetails.DonorActivity"
            android:label="@string/title_activity_donor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BloodBankDetails.BloodBankActivity"
            android:label="@string/title_activity_blood_bank"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>